/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

​ ol,
ul {
    list-style: none;
}

​ img {
    vertical-align: top;
    max-width: 100%;
    border: none;
}

​ a {
    color: inherit;
    text-decoration: none;
}

​ button {
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}

​

/* Base */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

​

/* #173346 */
/* #6bb039 */
​ body {
    font-size: 14px;
    color: #444;
    background-color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
}

​ .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

​ .col-2 {
    width: 16, 666666667%;
}

.col-3 {
    width: 25%;
}

​ .col-4 {
    width: 33, 333333333%;
}

​ .col-6 {
    width: 50%;
}


/* ----------------------------------------  HEADER --------------------------------------------*/
.header-nav {
    background-color: #001242;
    color: white;

}

h1 {
    padding-bottom: 26px;
    padding-top: 19px;
    margin-left: 10px;
}



/* ----------------------------------------  MAIN --------------------------------------------*/

.main-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.main-table td,
.main-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.main-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.main-table tr:hover {
    background-color: #ddd;
}

.main-table th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0094C6;
    color: white;
}

.main-title {
    padding: 10px 0px 10px 10px;

}

.title-section {
    margin-top: 10px;
    display: flex;
}

h2.main-title {
    flex-grow: 1;
}

.button-create {
    margin-left: 10px;
    border-radius: 4%;
    margin-right: 15px;
    margin-top: 1px;
    background-color: #001242;
    /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-create:hover {
    background-color: #005E7C;
}

.button-edit:hover {
    background-color: #005E7C;
}

.button-delete:hover {
    background-color: #005E7C;
}

.button-edit {
    border-radius: 4%;
    background-color: #66D17C;
    /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-delete {
    border-radius: 4%;
    background-color: #FE5F55;
    /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* th:nth-child(4) {
    width: 10%;
    text-align: center;
}

th:nth-child(5) {
    width: 10%;
    text-align: center;
}

td:nth-child(4) {
    width: 10%;
    text-align: center;
}

td:nth-child(5) {
    width: 10%;
    text-align: center;
} */

form.example input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 12px;
    background: #001242;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #005E7C;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .main-right__search {
    margin-left: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color);
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: var(--text-color);
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.table-img {
    width: 70%;
}


